---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import MapWrapper from '@components/MapWrapper.svelte';
import 'leaflet/dist/leaflet.css';

type Props = CollectionEntry<'races'>['data'];

const { title, description, pubDate, updatedDate, gpxFiles } = Astro.props;

---

<html lang="en" class="bg-base-100">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
		<Header />
    <main class="relative">
      <div class="container px-32 py-32">
        <article class="prose text-lg lg:text-xl prose-stone dark:prose-invert xl:max-w-xl 2xl:max-w-2xl">
          <h1 class="title">{title}</h1>
          <hr />
          <slot />
        </article>
      </div>
      <MapWrapper gpxFiles={gpxFiles} client:load client:only="svelte" />
    </main>
		<Footer />
	</body>
</html>
